RewriteEngine On

# Exclude /assets/ directory from redirection
RewriteCond %{REQUEST_URI} !^/farmer/resources/assets/ [NC]

# Redirect all other requests to index.php
RewriteCond %{REQUEST_URI} !^/farmer/index.php$
RewriteRule ^(.*)$ /farmer/index.php [L]